# Default ignored files
/shelf/
/workspace.xml
*/.DS_Store
.DS_Store
*/.idea
.idea
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*/cmake-build-debug
cmake-build-debug